body {
}

.backPic {
    background: url(pics/trophieShelf4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.topBord {
    border-top-width: 100%;
    border-top-style: solid;
}

.forklift {
    background-color: transparent
}

.bg-transparent {
    background-color: transparent
}

.fonts {
    font-family: times new roman;
    font-size: 140%;
}

.bordColor2 {
    border: 0px translucent solid;
}

.card {
    border: 0 solid transparent
}

.contact {
    margin-top: 1%;
}

.MachShop {
    margin-left: 1.5%;
}

.MachShop,
.contact,
.titleText {
    font-size: 1.5rem;
}



/*Colors*/


.homePic {
    color: #000
}

div.container,
.backBlack,
.navText,
.backPic,
.main {
    background-color: #000
}

.topBord,
.textGrey,
nav>a {
    color: grey;
}

.greyBack {
    background-color: grey;
}

.lGrey {
    color: #474747;
    font-weight: 500;
}

.dGrey {
    background-color: #353333;
    }

.backPic,
.mainPricing {
    background-color: #fff
}


.textRed,
.navText,
.titleText,
.redText {
    color: red;
}

.RedCard {
    background-color: #7c1a1a;
}



.blueCard {
    background-color: #3e8c93;
}

.offBlue {
    color: #009999;
    /*blue-maroon*/
}


