<form action="formmail.php" method="POST">
<input type="hidden" name="subject" value="Kontaktformular">
<input type="hidden" name="access" value="irregeheim">
<textarea name="Eingabe" cols="60" rows="20" wrap="PHYSICAL" id="Eingabe"></textarea>
<input type="submit" value="Abschicken">
</form>
