
/*styleBartlett.css*/

.backPic {
        background: url('pics/trophieShelf2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
        color:#fff;
        background-color:#333;
}

.servicePic {
        background: url('pics/outsideServices.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
        color:#fff;
        background-color:#333;
}

.shopPic {
        background: url('pics/shopPic.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
        color:#fff;
        background-color:#333;
}


.homePic {
 color:black;
}

.textRed {
 color:red;
}

.textGrey {
 color:grey;
}

.textDGrey {
 color:2a2a2a; 
}

.backDGrey {
 background-color:2a2a2a; 
}
.main {
 background-color:black;
}

.mainPricing {
 background-color:white;
}

div.container {
 background-color:black;
}

.navText {
 background-color:black;
 color:red;
}

.backgroundPic {
}

.forklift {
 background-color:transparent;
}

nav > a {
 color:grey;
}

nav > a:hover {
 color:red;
}

div > h1 > a:hover {
color:grey;
text-decoration:none;
}

.titleText {
 color:red;
}

.redText {
color:red;
}

.backRed {
 background-color:red;
}

.bg-transparent {
 background-color:transparent;
}

.cardMarg {
 marigin:2%;
}

.fonts {
 font-family:e;
 }

.fonts2 {
}

.offBlue {
 color:#009999; /*blue-maroon*/
}

.backBlue {
 background-color:#009999;
}

.priceCard {
}

.bordColor {
 border:0px solid green;
}

.backBlack {
 background-color:black;
}

.topBord {
 border-top: 4px solid grey;
}

.greyBack {
 background-color:grey;
}

.card {
border:0px solid transparent;
}

.topBord {
 border-top: 4px solid grey;
}
